header {
  background-color: #3B5998;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;

  h1 {
    margin: 0;
    float: left;
    color: inherit;
  }

  a {
    color: inherit;
    display: block;
    padding: 0 10px;
    text-decoration: none;
  }

  .profile-pic {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0 10px;

    &.right {
      float: right;
    }

    li {
      display: inline-block;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.empty-warning {
  text-align: center;
  width: 500px;
}

.homepage {
  text-align: center;
  background-color: #506ba3;
  min-height: 100%;
  color: #fff;

  &.login {
    text-align: left;
    padding-top: 100px;

    img {
      float: left;
    }

    form {
      float: left;
      width: 400px;
      margin-left: 40px;
    }

    input[type=email], input[type=text], input[type=password] {
      display: block;
      width: 300px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }
  }

  p.intro {
    margin-bottom: 30px;
  }

  .success-message {
    color: #4ae955;
  }

  .error-message {
    color: #e94a4a;
  }

  a, input[type=submit] {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: inherit;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  img {
    height: 200px;
  }
}

.profile-page {
  .status {
    margin: 0 auto;
  }
}

.cover {
  padding: 20px 0;
  height: 140px;
  line-height: 100px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;

  .right {
    float: right;
    margin-top: 40px;
  }

  h1 {
    display: inline-block;
    margin: 0;
  }

  .profile-pic {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
  }
}

.users-list {
  margin: 0;
  padding: 0;

  li {
    line-height: 50px;
    margin-bottom: 10px;
    width: 50%;
    list-style: none;
    display: inline-block;
    padding-right: 10px;

    img {
      vertical-align: middle;
      height: 50px;
      width: 50px;
      margin-right: 20px;
    }

    button {
      display: block;
      float: right;
      height: 21px;
      line-height: 21px;
      margin-top: 14.5px;
      padding: 0 10px;
    }
  }
}

.new-status {
  max-width: 500px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  textarea {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #bbb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
  }

  .button-container {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #bbb;
    border-top: none;
    height: 30px;
    line-height: 30px;
    background-color: #eee;

    button {
      float: right;
      display: block;
      line-height: inherit;
      height: 100%;
      padding: 0 10px;
      background-color: #eee;
      border: none;
      border-left: 1px solid #bbb;

      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
    }
  }
}

article.status {
  background-color: #fff;
  margin-bottom: 10px;
  width: 500px;
  border: 1px solid #bbb;
  border-radius: 3px;

  a {
    color: #365899;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .status-container {
    padding: 10px;
  }

  .like-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    filter: invert(50%);
  }

  .comment-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    filter: invert(50%);
  }

  .share-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    filter: invert(50%);
      &:hover {
        filter: invert(30%);
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul.comments {
    margin: 0;
    padding: 0;
    line-height: 24px;

    li {
      list-style: none;
      margin-top: 5px;
    }

    .profile-pic {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .status-text {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .status-footer {
    background-color: #eee;
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #bbb;
    padding-bottom: 10px;

    .status-likes {
      font-size: 12px;
      border-bottom: 1px solid #bbb;

      .like-icon-container {
        display: inline;
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        margin-top: 7px;
        border-radius: 50%;
        background-color: rgb(88, 144, 255);

        .like-icon {
          display: block;
          width: 9px;
          height: 9px;
          margin: 3.5px;
          filter: none;
          background: none;
          background-color: #fff;
          mask-image: url('/like (2).png');
          -webkit-mask-image: url('/like (2).png');
          mask-size: 100% 100%;
          -webkit-mask-size: 100% 100%;
        }
      }
    }
  }

  .comment-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-top: 10px;

    &:focus {
      border-color: #aaa;
    }
  }

  .status-buttons {
    border-top: 1px solid #eee;
    margin: 0 10px;
    padding: 0;
    line-height: 32px;

    li {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      user-select: none;
      font-weight: bold;
      font-size: 12px;
      margin-right: 20px;

      &:hover {
        text-decoration: underline;
      }

      .like-icon {
        display: inline-block;
        background-size: 100% 100%;
        background-image: url('/like (2).png');
        width: 15px;
        height: 15px;
      }

      &.liked {
        color: rgb(88, 144, 255);

        .like-icon {
          filter: none;
          background: none;
          background-color: rgb(88, 144, 255);
          mask-image: url('/like (2).png');
          -webkit-mask-image: url('/like (2).png');
          mask-size: 100% 100%;
          -webkit-mask-size: 100% 100%;
        }
      }
    }
  }

  .status-header {
    line-height: 50px;
    height: 50px;
    margin: 0;

    .text {
      padding: 5px 0;
      line-height: 20px;
      float: left;

      p {
        margin: 0;
      }
    }

    .timestamp {
      display: inline;
      font-size: 12px;
      color: #888;
    }

    .right {
      float: right;
    }

    .profile-pic {
      float: left;
      height: 50px;
      width: 50px;
      vertical-align: middle;
      margin-right: 10px;
    }

    a {
      font-weight: bold;
    }
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  clear: both;
}

section {
  width: 80%;
  float: right;
  padding: 10px;
}

aside {
  width: 20%;
  float: left;
  padding: 10px 0;
  font-size: 14px;

  .profile-name {
    margin: 0;
    line-height: 30px;

    img {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 7px 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;

    li {
      height: 30px;

      &:hover {
        background-color: #fff;
      }
    }
  }

  .aside-icons {
    width: 18px;
    height: 18px;
    filter: grayscale(60%);
    float: left;
    margin-right: 7px;
  }
}

.link {
  text-decoration: none;
  color: white;
  &:hover {
    color: red;
  }
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.modal {
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-top: -150px;
  margin-left: -250px;
  z-index: 2;
}
