header {
  background-color: #eee;
  line-height: 50px;
  padding: 0 10px; }

header h1 {
  margin: 0;
  display: inline; }

header ul {
  display: inline-block;
  margin: 0;
  padding: 0 10px; }

header ul li {
  display: inline-block;
  margin-right: 10px; }

article.status {
  background-color: #eee;
  margin-bottom: 10px; }

article.status .status-container {
  padding: 10px; }

article.status .status-likes {
  color: blue;
  margin-bottom: 0; }

article.status .status-buttons {
  border-top: 1px solid red;
  margin: 0;
  padding: 0; }

article.status .status-buttons li {
  padding: 10px 0;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  text-align: center;
  user-select: none;
  border-right: 1px solid red; }

article.status .status-buttons li:hover {
  background-color: #ddd; }

article.status .status-buttons li:last-child {
  border-right: none; }

article.status .status-line {
  line-height: 50px;
  margin: 0; }

article.status .status-line .profile-pic {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px; }

footer {
  clear: both;
  background-color: #eee;
  padding: 10px; }

section {
  width: 75%;
  float: right;
  padding: 10px; }

aside {
  width: 25%;
  float: left;
  padding: 10px; }
